body {
    margin: 0;
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 30%;
    background-color: #f4f4f4;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.viewer {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eaeaea;
}

#canvas-pdf {
    border: 1px solid #ccc;
}
