body {
    margin: 0px;
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 30%;
    background-color: #f4f4f4;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.viewer {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eaeaea;
    position: relative;
}

.toolbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    position: absolute;
    padding: 8px;
    border-bottom: 1px solid #ccc;
}

#canvas-pdf {
    border: 1px solid #ccc;
    margin-top: 50px;
}
